{{ $mdTitle := default "" (index .Args 0) }}
{{ $title := $mdTitle }}

{{ if eq (len $title) 0 }}
	{{ $title = "Max Reiter" }}
{{ else }}
	{{ $title = cat $title ":: Max Reiter" }}
{{ end }}

{{ $description := default "A webpage for Max Reiter" (index .Args 1) }}

<title>{{ $title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<meta property="og:title" content="{{ $title }}">
<meta property="og:site_name" content="Max Reiter">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://{{ .Req.Host }}{{ .OriginalReq.URL }}">
<meta property="og:image" content="https://{{ .Req.Host }}/static/image/image.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">

<link rel="stylesheet" href="/static/font/fontawesome/css/fontawesome.css">
<link rel="stylesheet" href="/static/font/fontawesome/css/brands.css">

<link rel="stylesheet" href="/static/style/index.css">
