{{ $mdTitle := default "" (index .Args 0) }}
{{ $title := $mdTitle }}

{{ if eq (len $title) 0 }}
	{{ $title = "Max Reiter" }}
{{ else }}
	{{ $title = cat $title ":: Max Reiter" }}
{{ end }}

{{ $description := default "A webpage for Max Reiter" (index .Args 1) }}

<title>{{ $title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<meta property="og:title" content="{{ $title }}">
<meta property="og:site_name" content="Max Reiter">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://{{ .Req.Host }}{{ .OriginalReq.URL }}">
<meta property="og:image" content="https://{{ .Req.Host }}/static/image/image.png">

<link rel="stylesheet" href="/static/style/fontawesome.min.css">
<link rel="stylesheet" href="/static/style/brands.min.css">
<link rel="stylesheet" href="/static/style/index.css">
