@import url("/static/style/roboto.css");
@import url("/static/style/roboto-mono.css");

:root {
	--background: #282A36;
	--foreground: #F8F8F2;
	--selection: #44475A;
	--blue: #6272A4;
	--cyan: #8BE9FD;
	--green: #50FA7B;
	--orange: #FFB86C;
	--pink: #FF79C6;
	--purple: #BD93F9;
	--red: #FF5555;
	--yellow: #F1FA8C;
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	background-color: var(--background);
	color: var(--foreground);

	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

main, header, footer {
	width: 50%;
}

@media (max-width: 1024px) {
	main, header, footer {
		width: 90%;
	}
}

footer {
	text-align: center;
	margin-top: auto;
	margin-bottom: 1rem;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav a {
	color: var(--purple);
	font-size: 1.5rem;
	text-decoration: none;
	flex: 1;
	text-align: center;
	padding: 0.25em;
	border-bottom: 3px solid var(--purple);
}

nav a:hover {
	color: var(--background);
	background-color: var(--purple);
}

h1, h2, h3 {
	color: var(--cyan);
	font-family: "Roboto Mono", monospace;
	font-weight: 600;
	font-style: normal;
}

p {
	font-size: 18px;
}

strong {
	color: var(--red);
}

blockquote {
	margin: 0;
	padding-left: 5px;
	border-left: 3px solid var(--orange);
}

blockquote p {
	font-size: 20px;
	font-family: "Roboto Mono", monospace;
}

code {
	background-color: var(--selection);
	padding: 1px;
	color: var(--yellow);
	border-radius: 5px;
}

a {
	color: var(--purple);
}

a:hover {
	color: var(--blue);
}

.icon {
	font-size: 1.5em;
	color: var(--foreground);
	text-decoration: none;
}

.icon:hover {
	color: var(--blue);
}

.icon:not(:last-child) {
	margin-right: 5px;
}
